USE [master]
GO
/****** Object:  Database [dog-barber-manger]    Script Date: 09/02/2021 23:24:49 ******/
CREATE DATABASE [dog-barber-manger]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dog_barber', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCAL\MSSQL\DATA\dog_barber.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dog_barber_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCAL\MSSQL\DATA\dog_barber_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dog-barber-manger].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dog-barber-manger]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 09/02/2021 23:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[UserID] [smallint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ApptDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 09/02/2021 23:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([ID], [UserID], [CreatedOn], [ApptDate]) VALUES (131, 5, CAST(N'2021-02-09 23:21:34.393' AS DateTime), CAST(N'2021-02-04 22:30:00.000' AS DateTime))
INSERT [dbo].[Appointment] ([ID], [UserID], [CreatedOn], [ApptDate]) VALUES (132, 6, CAST(N'2021-02-09 22:42:32.513' AS DateTime), CAST(N'2021-02-18 22:42:00.000' AS DateTime))
INSERT [dbo].[Appointment] ([ID], [UserID], [CreatedOn], [ApptDate]) VALUES (133, 5, CAST(N'2021-02-09 23:21:41.067' AS DateTime), CAST(N'2021-02-06 23:21:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointment] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [FirstName], [UserName], [PasswordHash], [PasswordSalt]) VALUES (5, N'Admin', N'a', 0xC3F5D2F80EF593948D1AC6E5D948BBFC1C94E42C63D862124BEEC71F01FBAE1DCD18BD756BF11DB9C9E050B83C9FCAFDF5CC9E18ABF9A3E3037CD00D36017005, 0xA354E1456783152CB4220700CD0E414D6D227E3A841F2DAB3154B19644C684EF9E2709D1E01B11A69F00F6C919C941DF536659E9D87BDF59CFACCADDF84478E74C93A25E3C33DD0F8ED09B4D72CFF607726E1395C87B52905B45AD6981760DC559326AD3BCBEFBD69E19545A8FD4642BEC92C51CCB54720692B7CF314C640D5B)
INSERT [dbo].[User] ([ID], [FirstName], [UserName], [PasswordHash], [PasswordSalt]) VALUES (6, N'Mike', N'mike', 0xBD9E9E8239F5A63451CE55D621ED39A0DA3B58586742729DE431FA8779B41836E73C63ABD6EB560816234EE9AF5DEC93FBEC1CE191C128939608D906182F97B5, 0xDF7FA3D57F06DBFA7421ADE57CB26AD8AB3BCC1D60449C92D95EA17012C7C6FF17FB08EB8F16976206EA648D9E57A26B48AC5B1E601E622BB512961CEA109FB3DCF1F71F5DAD5DDB465ED632D75B55329F20DA2D413649F974B82DC16969A066CDC42341A71186FAF8B7CBDD65DCB92E10DC95709369130C000549B8DFC3A2B4)
SET IDENTITY_INSERT [dbo].[User] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User]    Script Date: 09/02/2021 23:24:49 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spGetAppointments]    Script Date: 09/02/2021 23:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetAppointments]
AS
SELECT 
	a.ID,
	a.UserID,
	u.FirstName as UserFirstName, 
	a.ApptDate, 
	a.CreatedOn
	FROM Appointment a
	LEFT JOIN [User] u ON u.ID = a.UserID


GO
USE [master]
GO
