.wrapper .main-container{
    background: #ffeded;
    position: absolute;
    max-width: 720px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    padding: 17px;
    color: #004e7b;
    box-shadow: #565656 0px 12px 20px 4px;
}

.wrapper .navbar {
    background: #ffeded;
    box-shadow: #565656 0px 1px 20px 4px;
}

.wrapper .navbar-brand{
    color: #004e7b;
    font-size: 23px;
    cursor: pointer;
}