.modal .modal-dialog {
    margin: 5.75rem auto !important;
    color: #585858;
}

.modal .modal-content {
    background: #ffeded;
}

.modal .modal-header {
    text-align: center;
    display: block;
    border: 0;
}

.modal .modal-body {
    font-size: 20px;
}